/* Style the navigation bar */
.navbar {
    overflow: hidden;
    background-color: black;
    color: white;
}

/* Navigation bar links */
.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

/* On hover, change link color */
.navbar a:hover {
    background-color: blue; /* or any other color of choice */
}

/* Dropdown button */
.dropbtn {
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}

/* Dropdown content container */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
}

/* Show dropdown content on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Style for input search box */
input[type="text"] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    width: auto;
}